*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p{
    color: red;
    background-color:green;
    height: 20px;
    padding: 20px 20px;
    display: flex;
    justify-content: center; /*Center horizontally*/
    align-items: center;     /*Center vertically*/
}

h1{
    display: flex;
    justify-content: center;
}